{% extends "index.html" %}
{% load bootstrap5 %}
{% block principal %}
<div class="container ">
    <div class="row aling-items-start mt-5">
        <div class="col-md-5 mx-auto">
            <p>
                Envie uma menssagem ou entre em contato com o responsavel {{responsavel|upper}} no numero {{telefone}}
            </p>
        </div>
    </div>
    <div class="row aling-items-start mt-3">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="col-md-5 mx-auto ">
                <div>
                    {% if sucesso %}
                    <p class="alert alert-success col-md-5 w-100">Mensagem enviada com sucesso!</p>
                    {% endif %}
                </div>
                <div>
                    {% bootstrap_form form %}
                </div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

    
